name: CI


on: [push, workflow_dispatch]
  #schedule: 
   # - cron: '0/15 * * * *'



jobs:

  build:


    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip' # caching pip dependencies
    - run: pip install -r requirements.txt
    - run: python script.py
